body{
  background: #ebebeb;
  margin:2% ;
  color:black;
  font-size: 20px;
  width: 100%;
  min-width: 210px;
}

.encabezado {
  grid-area: encabezado;
}
.menu {
  grid-area: menu;
}
.contenido {
  grid-area: contenido;
}

.contenedor {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas: 
    "encabezado encabezado"
    "menu contenido"
}

/*Estilado del menu lateral izquierdo*/
.marco-titulos{

  grid-column-start: menu;
  background-color: #ebebeb;
  height: 100%;
  padding-top: 10px;
  position: fixed;
  resize: both;
}

#cara{
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  border:50px;
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.boton{
  width: 200px;
  height: 30px;
  background: #ddcbaa;
  margin:2%;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
}

/*Estilado del bloque de contenido*/

.marco-contenido{
  grid-column-start: encabezado;
  color:black;
  height: 100%;
  padding-left: 230px;
  padding-right: 10px;
  resize: horizontal;
}

section{
  background: white;
  padding: 5%;
  margin: 2%;
  border-radius: 15px;
  text-size-adjust: 90%;
}

h2,h3,h4{
  color: #6384b3;
}

h2{
    font-family: 'Prompt', sans-serif;
    border-bottom: 3px #6384b3 solid;
}

/*Formato para las listas*/
ul.conocimiento{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-left: 0%;
  justify-items: center;
}

li.upper{
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px dotted orange;
  letter-spacing: 2px;
}
li{
  list-style: none;
}

/*Formato para las letras de la primera seccion*/
.upper{
  font-variant: small-caps;
}

/* formato para las imagenes del portfolio*/
li.portfolio-icon{
    display: inline;
}

.icon{
  height: 180px;
  width: 180px;
  margin: 2%;
}
li.conocimientos{
  color:goldenrod;
  letter-spacing: 0em;
}
li.conocimientos:hover{
  color:red;
  letter-spacing: 0.2em;
}


/* @Medias */
@media only screen and (max-width: 500px) {
  body{
    display: block;
    font-size: 0,7em;
  }
  .marco-titulos{
    display: block;
    position: initial;
  }
  #cara{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    border:4%;
    border-radius: 50%;
  }
  

  .marco-contenido{
    width: 100%;
    float: none;
    position: relative;
  }
  
  section{
    width: 100%;
  }
}